{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title></title>

		<!-- Google font -->
		<link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:400,500,700') }}" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{{ asset('css/slick.css') }}"/>
		<link type="text/css" rel="stylesheet" href="{{ asset('css/slick-theme.css') }}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{{ asset('css/nouislider.min.css') }}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

		<!-- Custom stylesheet -->
		<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
		
        {% include "product.html.twig" %}
		<br>
		<div class="row">
			<div class=" col-md-12 mb12">
				<div class="row">
					<div class="col-md-2 mb-2">
						{% for productall in allproduct %}
							<h5 class="card-title">{{ productall.nom }}</h5>
							<img src="{{ asset('uploads/'~ productall.image) }}" class="card-img-top" alt="..." width="20%" height="20%">
							<br>
							<div class="d-flex justify-content-between">
								<h5 class="card-title"> prix :{{ productall.prix }} FCFA</h5>
								<h5 class="card-title">Reduction : {{ productall.reduction }} FCFA</h5>
								<a href="{{ path('product_detail', {'id': productall.id}) }}" 
								   class="btn btn-success btn-sm">
									<i class="fas fa-eye"></i> Details
								</a>
							</div>
							<br>
						{% else %}
							<div class="col-12">
								<div class="alert alert-info">
									Aucun produit trouvé
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="col-md-7 mb-7">
						{% if product %}
								<div class="card h-50 shadow">
									<div class="card-body">
										<img src="{{ asset('uploads/'~ product.image) }}" class="card-img-top" alt="..." width="60%" height="60%">
										<br>
										<h2 class="card-title">{{ product.description }}</h2>
									</div>
								</div>
						{% else %}
							<div class="col-12">
								<div class="alert alert-info">
									Aucun produit trouvé
								</div>
							</div>
						{% endif %}
					</div>
					<div class="col-md-3 mb-3">
						{% if product %}
								<div class="card h-50 shadow">
									<div class="card-body">
										<h2 class="card-title">{{ product.caracteristique }}</h2>
									</div>
								</div>
						{% else %}
							<div class="col-12">
								<div class="alert alert-info">
									Aucun produit trouvé
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>


    </body>
</html>
{% endblock %}